*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
    font-family: "Poppins", sans-serif;
}
h1 {
    font-size:2.6rem
}

li,button,label,input,p{
    font-size:2rem
}
h2{
    font-size: 2rem;
}

h3{
    font-size:3rem;
}
h4,h5{
    font-size:2.8rem;
}
a{
    
    text-decoration: none;

}
ul{
list-style:none;
}
/*Nav section  and Hero section*/
#Header{
    background:#131c27;
    width:100%;
  
    
}

#Header .Logo{
    color: #fff; 
    flex: 2 1 40rem;
    
}
.container{
    width:90%;
    min-height: 10vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:center;  
    flex-wrap: wrap;
}
nav{
    flex: 1 1 50rem;
   
    
}
.nav_list{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav_list .nav_item .nav_link{
   color:  #fff;
}

#hero{
    background:linear-gradient(rgba(0, 0, 0, 0.8),transparent),url(../Image/landing-page.jpg) no-repeat center;
    background-size: cover;
    min-height: 90vh;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
.hero_heading{
    font-size:4.8rem;
    margin-bottom: 5rem;
}
.hero_text{
    font-size:3rem;
    
    padding:3rem;
    text-align:center;
}


#hero>button{
    background:#27394e;
    padding:2rem 6rem;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
    color: #fff;
    outline: none;
}
/*Location Section*/
#locations{
    background-color: red;
    width:100%;
    height:90vh;
    background:
    linear-gradient(rgba(0,0,0,0.5),transparent),
    url(../Image/new-york-page.png) no-repeat center ;
    background-size: cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left: 5rem;
    position: relative;
    overflow: hidden;
}
.locations_title{
    width:90%;
    font-size: 4.8rem;
    margin-bottom:4rem;
     text-decoration:underline;
     text-decoration-thickness: 0.3rem;
     font-weight: 700;
     
}
.locations_text{
    width:90%;
    font-size:3.2rem;
    line-height:4.3rem;
    font-weight: 400;
    background: linear-gradient(#131c27,#663b34);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}
.Cloud{
    position:absolute;
    right: 0;

}
.moveing_cloud_1{
    top: -6rem;
    z-index: 5;
   
    animation: moveing_cloud 4s ease-in-out infinite alternate  ;
    
}
.moveing_cloud_2{
    top:5rem;
    z-index: -1;
    animation: moveing_cloud 3s ease-in-out infinite alternate  ;
   
}
/*Benefit Style*/
#benefits{
    width:100%;
   
   
    
}
.benefits_heading{
    width:100%;
    background:red;
    min-height: 20vh;
    text-align: center;
    padding:3rem;
    background:#343c44;
    color: #fff;

}

.benefits_title{
    font-size:5rem;
    margin-bottom: 2rem;
    font-weight: bold;
    text-transform: uppercase;

}
.benefits_heading>h3{
    font-size:3rem;
    font-weight:normal;
    line-height: 4.5rem;
    opacity:0.7;
    
}

.benefits_Cards{
    width:90%;
    display:flex;
    min-height:70vh;
    align-items: center;
    justify-content:space-evenly;
    padding:5rem auto;
    margin: 1rem auto;
    flex-wrap: wrap;
}

.card_item{
    flex: 1 1 30rem; 
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5),0px 20px 20px rgb(0,0,0,0.1);
    margin:2rem 5rem;
    
   
}
.heading_card{
    background-color:#343c44;
    width:100%;
    height:10rem;
    display: flex;
   
    
}
.heading_card img{
   max-width:15rem;
   height:80%;
    margin:auto;
     
}
.card_item_title{
    margin:2rem 0 1rem;
    text-align:center;
    font-size:3rem;

}
.card_item_text{
    text-align:center;
    line-height:3rem;
    margin:1rem 1rem 3rem;
}
/*contact Styles*/
.contact{
    width:100%;
    min-height:70vh;
    background:linear-gradient(rgba(0,0,0,0.5),transparent), url(../Image/contact-mountain.png) no-repeat center;
    background-size: cover;
    display:flex;

}
.Box_Contact{
    margin:auto;
    width:70rem;
    background:rgba(19, 28, 39, 0.8);
    border-radius: 2rem;
    overflow:hidden;

}
.Box_Contact_heading{
    width:100%;
    text-align: center;
    color: #fff;
    font-size:4rem;
    padding:2rem;
}
.form-group_Name
,.form-group_Email{
    text-align: center;
    padding:3rem;
    
}
.form-group_Name>label,
.form-group_Email>label{
    color: #fff;
    margin-right: 1rem;
    font-size: 3rem;
}
input {
    padding:1rem 2rem;
    font-size:2rem;
    
}
.form_Email{
    margin-bottom:3rem;
}
.form>button{
    width:100%;
    padding:2rem;
    color:#fff;
    font-size: 2rem;
    background:#4c6e97;
    border:none;
    cursor:pointer;

}
.form>button:hover {
    background:#33537ade;
    transition: background 0.5s ease-in-out;
}
/* MEDIA Query */
@media screen and (max-width:1250px){
    html{
        font-size:40%;
    }
    #Header .Logo{
        text-align: center; 
    }
    nav{
        margin:3rem 0 2rem ; 
    }
    .hero_heading{
        text-align: center;
       
        margin-bottom: 2rem;
    }
    .hero_text{
        
        padding:1rem 0.5rem !important;
    }
    #hero>button{
        margin-top: 4rem;
        padding:2rem 6rem;
        font-size: 2.5rem;
        
    }
    .Cloud{
      
         width:60%;
    }
}
@media (max-width:1000px){ 
    .Cloud{
       
        width:80%;
   }
}
@media (max-width:850px){
    #locations{
        padding-left: 0rem;
    }
    .locations_title{
        text-align: center;
        width:100%;
        font-size: 6rem;
    }
    .locations_text{
        text-align: center;
        width:90%;
        background:rgba(0,0,0,0.5);
        -webkit-text-fill-color:white;
        padding:1rem;
        margin:0 auto;
        font-size:4rem;
    }
    .Cloud{
        width:100%;
   }
}
@media (max-width:500px){
    .locations_title{
        font-size:4rem;
    }
    .locations_text{
        font-size:2.5rem;
    }
    .Cloud{
        width:60rem;
   }
}
/* Animation */
@keyframes moveing_cloud {
    0%{
        transform:translate(10%,-10%);
       
    }
    
    100%{
        transform:translate(0,-0  );
        
    }
    
}